@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Kaushan+Script&family=PT+Sans+Narrow:wght@700&display=swap');

.page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin:5px;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin:5px;
}

.cardbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width:200px;
    height:200px;
    border-radius: 10px;
    margin:5px;
    cursor:pointer;
    background-position: center;
    background-size: cover;
}

.cardbox:hover{
    opacity: 0.8;
    scale:1.04;
}

.cityBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width:500px;
    height:50px;
    border-radius: 10px;
    margin:5px;
    cursor:pointer;
    background-color: black;
} 

.cityBox:hover{
    opacity: 0.8;
    scale:1.04;
}


 h1 {
    text-shadow: -1.5px 1.5px 0 #000,
                 1.5px 1.5px 0 #000,
                 1.5px -1.5px 0 #000,
                 -1.5px -1.5px 0 #000;;
    font-size: 24px;
    font-family: 'PT Sans Narrow', sans-serif;
}

@media only screen and (max-width: 800px) {
    .cardbox{
        width:100px;
        height:100px;
    }

    h1 {
        font-size: 16px;
        font-family: 'PT Sans Narrow', sans-serif;
    }
}