.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:300px;
}

.homeh1 {
    font-size:40px;;
    font-weight: bolder;
    font-family: 'Gochi Hand', cursive;
    color:black;
    text-shadow: none;
}

p{
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
}