@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Kaushan+Script&family=PT+Sans+Narrow:wght@700&display=swap');

.container{
    background: black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    padding: 10px 30px
}

.logo{
   font-size: 42px;
   text-shadow: 3px 3px 3px gray;
   font-family: 'Gochi Hand', cursive;
}

h1{
    margin:0;
    color:white;
    font-size: 40px;
}

a {
    padding:10px 5px;
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-weight: bolder;
}

a:hover{
    cursor:pointer;
    font-weight: bolder;
    transform: scale(1.2);
}